:root {
    --rouge: #B22222;
    --brun: #A0522D;
    --vert: #9ACD32;
    --beige: #FFF8E7;
    --gris: #2C2C2C;
    --white: #ffffff;
    --shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    --light-green: #e8f5e8;
    --dark-green: #5e8c61;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--beige);
}

h1 {
    font-size: 50px;
    text-align: center;
    color: var(--gris);
}

.King {
    display: flex;
    height: calc(100vh - 80px);
}

.sidebar {
    margin-top: 75px;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: var(--beige);
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    margin-top: 0;
    color: var(--gris);
}

.sidebar button,
.sidebar select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: var(--white);
}


/* Carte produit */

.products {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    overflow-y: auto;
    margin-left: 270px;
}

.block {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(5, 5, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s;
    position: relative;
}

.block:hover {
    transform: scale(1.05);
}

.block img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
    text-align: left;
}

.product-info h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: var(--gris);
}

.product-info p {
    margin: 5px 0;
    color: #cd0e0e;
}

.price {
    position: relative;
    top: 15px;
    right: 15px;
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    color: var(--gris);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bouton-audio {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    background-color: var(--dark-green);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bouton-audio:hover {
    background-color: #4a7a52;
}

.bouton-audio.en-lecture {
    background-color: #2ecc71;
}

.block h3 {
    text-align: center;
}

.descri {
    display: none;
}

.block:hover .descri {
    display: contents;
}