html,
body {
    background-color: #FFF8E7;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.intro {
    display: flex;
    background-image: url("images/Apropos/behindTheKitchen.png");

    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    
    font-family: "Molle", cursive;
    color: #d10000;
    font-family: "Shrikhand", serif;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
}

.intro h1{
    display: flex;
    position: absolute;
    margin-left: 5%;

}

.title {
    display: flex;
    position: relative;
    margin: 7%;
    margin-left: 15%;
    
}