html,
body {
    background-color: #FFF8E7;
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.intro {

    width: 100%;
    height: 500px;
    background-image: url('images/Apropos/placeholder.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


}

.text-titre {


    width: 70%;
    color: rgb(183, 0, 0);
    text-align: left;
    display: flex;
    flex-direction: column;
    

    font-size: 30px;
    font-family: "Shrikhand", serif;
    font-weight: 600;
    font-style: italic;

}